@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background: rgb(56, 56, 56);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('./assets/2635205.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  overflow-x: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
}

.global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glassmorph {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 950px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }

  /* Carousel to list */
  #left, #right {
    display: none;
  }
  .carousel {
    width: 43.5rem;
  }
  .carousel-items {
      max-width: 20rem;
      margin: 0 auto;
      display: grid;
      grid-gap: 1rem;
      flex-direction: column;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media only screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 630px) {
  html {
    font-size: 10px;
  }
}